body {
    padding: 0;
    margin: 0;
    background-color: black;
}

@font-face {
    font-family: SHSSC;
    src: url(assets/font/SourceHanSansSC-Bold.otf);
}
* {
    font-family: SHSSC;
    font-size: 1.5cqi;
    user-select: none;
}
#main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
#main_box {
    position: fixed;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    container-type: size;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}
@keyframes reduce {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(0.9);
    }
}
@keyframes scalebig {
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.0);
    }
}
